<%- include("includes/head.ejs"); %>
<body>
    <header>
    <h1>portfolio profile</h1>
    <hr>
    </header>


    <section id="A">


<h2>achivement</h2>
    <ul>
       <li>11 RBSC(70%)</li>
       <li>12 RBSC(82%)</li>
       <li>DIPLOMA IN CS(81%)</li>
</ul>
<hr>
</section>



<section id="B">

<H3>SKILL</H3>
    
    <ul type="a">
        <li>miner project</li>
        <li>major project</li>
        <li>html</li>
        <li>css</li>
        <li>pyhton</li>
    </ul>

    <hr>

    </section>


    <section id="C">

    <h3>hobbies</h3>
         <ul>
            <li>cricket</li>
            <li>table tanise</li>
            <li>footboll</li>
         </ul>
         <hr>
</section>

<footer>

    <h3>contect</h3>   
    <ul>
        <li>6378766500</li>
        <li>harry@gmail.com</li>

    </ul>  


</footer>
</body>
</html>
