<%- include("includes/head.ejs"); %>
<body>
    <header>
    <h1>Portfolio Profile</h1>
    <hr>
    </header>


    <section id="A">


<h2>Achivement</h2>
    <ul>
       <li>10th CBSE </li>
       <li>12th CBSE</li>
       <li>DIPLOMA IN CS (9.10)</li>
</ul>
<hr>
</section>



<section id="B">

<H3>SKILL</H3>
    
    <ul type="a">
        <li>Python</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>Javascript</li>
        <li>Management</li>
    </ul>

    <hr>

    </section>


    <section id="C">

    <h3>Hobbies</h3>
         <ul>
            <li>Cricket</li>
            <li>Table Tennis</li>
            <li>Music</li>
            <li>Traveling</li>
         </ul>
         <hr>
</section>

<footer>

    <h3>Contact</h3>   
    <ul>
        <li>8700280644</li>
        <li>rajputpiyush137@gmail.com</li>

    </ul>  


</footer>
</body>
</html>
