header{
    text-align:center;
    color: red;
    background-color: rgb(62, 212, 212);
}



h2{
    color:red;
    background-color:rgb(62, 212, 212);
}

h3{
    color: red;
    background-color: rgb(62, 212, 212);
}

ul{
    color:rgb(56, 2, 236);

}
